{% extends 'layouts/base.html' %}

{% block content %}
        <div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">{{ page_title }}</h3>
						<ul class="breadcrumb-tree">
							<li><a href="orders/order/0">Orders</a></li>
							<li class="active">Thanks</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<div class="section">
			<div class="container">
				<div class="row text-center">
					<h3 style="color: purple">Дякуємо за замовлення</h3>
					<hr>
					<h4 style="color: gray">
						На вказану Вами при оформленні замовлення <br>
						E-mail адресу: <span style="color: blue">{{ email }}</span> <br>
						відправленно листа із данними Вашого замовленням!
					</h4>
					<hr>
					<h4 style="color: darkcyan">
						Наш менеджер має надіслати Вам контактне повідомлення <br>
						протягом найближчих 30 хвилин!
					</h4>
				</div>
			</div>
		</div>
{% endblock content %}